.App {
  text-align: center;
}

header {
  background-image: url('./images/abstract-art-artistic-1089027.jpg');
  background-size: cover;
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(30px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-stretch: semi-condensed;
  color: white;
  text-shadow: #282c34 3px 2px 1px;
}

footer {
  color: white;
  background: #282c34;
  font-size: 12px;
  padding: 20px;
  justify-self: end;
}

.MenuBar {
    color: white;
    background: #282c34;
    font-size: 20px;
    padding: 10px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    z-index: 100;
  
}

.link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

img {
  max-width: 40vw;
  max-height: 60vh;
}

.profile-img{
    max-width: 400px;

}

.GalleryContainer {
  width: 50vw;
  height: 30vw;
}

/* .slide {
  max-height: 20vh;
  max-width: auto;
} */

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.textbox {
  width: 45vw;
  height: 30vw;
  overflow: auto;
}

.skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skillDiv{
  margin: 5px;
}
@media only screen and (min-width: 500px) {
  .lilify {
    display: none;
  }
  .bigContainer {
    height: 100vh;
  }

}

@media only screen and (max-width: 500px) {
  .bigify {
    display: none;
  }
  .profile-img{
  display: none;    
}
.projects {
  flex-direction: column;
  flex-wrap: nowrap;
}
.textbox {
  width: 98vw;
  height: auto;
}
.GalleryContainer {
  width: 98vw;
  height: auto;
}
}