.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

header {
  background-image: url('./images/abstract-art-artistic-1089027.jpg');
  background-size: cover;
  background-color: #282c34;
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(30px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-stretch: semi-condensed;
  color: white;
  text-shadow: #282c34 3px 2px 1px;
}

.App-link {
  color: #61dafb;
}

footer {
  color: white;
  background: #282c34;
  font-size: 12px;
  padding: 20px;
  justify-self: end;
}

.MenuBar {
    color: white;
    background: #282c34;
    font-size: 20px;
    padding: 10px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
  
}

.link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

img {
  max-width: 40vw;
  max-height: 60vh;
}

.profile-img{
    max-width: 400px;

}

.GalleryContainer {
  width: 30vw;
  height: 100%;
  border: 5px solid black;
}

/* .slide {
  max-height: 20vh;
  max-width: auto;
} */

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}