.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-image: url('./images/abstract-art-artistic-1089027.jpg');
  background-size: cover;
  background-color: #282c34;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(30px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-stretch: semi-condensed;
  color: white;
  text-shadow: #282c34 3px 2px 1px;
}

footer {
  color: white;
  background: #282c34;
  font-size: 12px;
  padding: 20px;
  justify-self: end;
}

.MenuBar {
    color: white;
    background: #282c34;
    font-size: 20px;
    padding: 10px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    z-index: 100;
  
}

.link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

img {
  max-width: 40vw;
  max-height: 60vh;
}

.profile-img{
    max-width: 400px;

}

.jordanpics {
  max-width: inherit;
}

.GalleryContainer {
  width: 50vw;
  height: 30vw;
}

/* .slide {
  max-height: 20vh;
  max-width: auto;
} */

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

ul {
  text-align: left;
}

.contactCard{
  margin: 15px;
  height: 200px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  
}

a {
  color: white;
  text-decoration: none;
}

.iconsize {
  max-height: 40px;
  max-width: 40px;
  align-self: center;
  padding: 5px;
  margin-bottom: 80px;
}

.textbox {
  width: 45vw;
  height: 30vw;
  overflow: auto;
}
.aboutTextbox {
  width: 45vw;
  min-height: 30vw;
}

.skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skillDiv{
  margin: 10px;
  margin-bottom: 20px;
  width: 30vw;
  height: 30vw;
  max-width: 200px;
  max-height: 200px;
  contain: size;
}

.skillimg{
  width: 25vw;
  height: 25vw;
  max-width: 200px;
  max-height: 200px;
  padding: 5px;
}

.arrow {
  width: 50px;
  height: 50px;
  animation-name: arrow;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  cursor: pointer;
  position: relative;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: #282c34 3px 2px 1px;

}

@keyframes arrow {
  0% {top: 0px;}
  100% {top: 20px;}
}

@media only screen and (min-width: 500px) {
  .lilify {
    display: none;
  }
  .bigContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }

}

@media only screen and (max-width: 500px) {
  .bigify {
    display: none;
  }
  .profile-img{
  display: none;    
}
.projects {
  flex-direction: column;
  flex-wrap: nowrap;
}
.textbox {
  width: 98vw;
  height: auto;
}
.aboutTextbox {
  width: 98vw;
  height: auto;
}
.GalleryContainer {
  width: 98vw;
  height: auto;
}
.bigContainer{
  min-height: 80vh;
}
}